# .env.example (Заливаем на Гитхаб)
TOKEN=your_bot_token_here
PREFIX=!
OWNER=your_id_here
DEV=dev_id_here
EMBED_COLOR=f984e5
LEAVE_TIMEOUT=60000
MIN_VOLUME=1
MAX_VOLUME=100
MONGO_URI=your_mongodb_connection_string
GENIUS_API_KEY=
SUPPORT_SERVER_URL=